/* test */

/* .wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
  }
  .wrapper:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }

  .wrapper > #board {
    display: inline-block;
    vertical-align: middle;
  }

  #board > tr {
    font-size: 0;
    width: 100px;
    white-space: nowrap;
  }

  #board > tr > td {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.3);
  }

  #board > tr > td:hover {
    background-color: red;
  }*/

  /* #board {
    transform: rotateX(40deg) rotateZ(45deg);
  } */


td {
    height: 100px;
    width: 100px;
    border-style: solid;
    text-align: center;
}

/* map */

.see {
    background-color: rgb(133, 200, 241);
}

.plains {
    background-color: rgb(205, 249, 95);
}

.mountains {
    background-color: rgb(196, 149, 99);
}

.forests {
    background-color: rgb(116, 196, 99);
}

/* units */

.selected {
    animation-name: selectedUnit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes selectedUnit {
    from {
        background-image: none;
    }

    to {
        background-image: url('../css/images/RoguePlayer.png');
    }
}

.army {
    background-image: url('../css/images/RoguePlayer.png');
    background-repeat: no-repeat;
    z-index: 1;
    height: 100%;
    width: auto;
    background-size: contain;
}

/* city */

.city{
    background-image: url('../css/images/test.png');
    background-repeat: no-repeat;
    z-index: 1;
    height: 100%;
    width: auto;
    background-size: contain;
}